.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffc4;
  min-height: 200px;
  border-radius: 10px;
  padding: 1rem;
}

.noteFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 15px;
}

.trashIcon {
  font-size: 20px;

  color: #333333;
}

.trashIcon:hover {
  cursor: pointer;
  color: #a31010;
}

.editIcon {
  font-size: 20px;
  color: #333333;
}

.editIcon:hover {
  cursor: pointer;
  color: #3333ac;
}

.todoContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
