body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #bdcadb;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 15px;
  min-height: 100vh;
  text-align: start;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(53, 53, 53, 0.7);
}
